<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="address">
                            <h3>Artist Growth</h3>
                            521 Gallatin Ave, Suite 8<br>
                            Nashville, TN 37206<br>
                            615.953.2481<br>
                            <a href="mailto:support@artistgrowth.com">support@artistgrowth.com</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-col">
                            <h3>Company Shit</h3>
                            <ul class="list-unstyled">
                                <li><a href="/team/">Our Team</a></li>
                                <li><a href="/team/#board">Board of Directors</a></li>
                                <li><a href="/benefits/">Member Benefits</a></li>
                                <li><a href="http://blog.artistgrowth.com/" target="_blank">Blog</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#signup_modal">Signup</a></li>
                                <li><a data-toggle="modal" href="#login_modal" data-target="#login_modal">Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-col">
                            <h3>Boring Shit</h3>
                            <ul class="list-unstyled">
                                <li><a href="/privacy/">Privacy Policy</a></li>
                                <li><a href="/terms/">Terms and Conditions</a></li>
                                <li><a href="/jobs/">Jobs</a></li>
                                <li><a href="/press/">Press Info</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="social">
                    <h3>Stay In The Loop</h3>
                    <ul class="list-unstyled list-inline">
                        <li class="facebook">
                            <a href="http://www.facebook.com/artistgrowth" target="_blank"><span
                                    class="symbol">&#xe227;</span></a>
                        </li>
                        <li class="twitter">
                            <a href="http://twitter.com/ArtistGrowth" target="_blank"><span
                                    class="symbol">&#xe286;</span></a>
                        </li>
                        <li class="instagram">
                            <a href="http://www.instagram.com/artistgrowth" target="_blank"><span class="symbol">&#xe300;</span></a>
                        </li>
                        <li class="rss">
                            <a href="http://blog.artistgrowth.com/rss" target="_blank"><span
                                    class="symbol">&#xe271;</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="copyright">© 2014 Artist Growth, LLC</div>
        </div>
    </div>
    <!-- /.container -->
</footer>