<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <title>{{ page.html_title }}</title>

    <!-- build:css /css/app.min.css -->
    <link rel="stylesheet" href="/css/app.css"/>
    <!-- endbuild -->

    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->
</head>

<body>

<a id="scroll-button">
    <i class="icon-glyphicons down_arrow"></i>
</a>

<div id="cover">
    <div id="cover-inner">
        <div id="cover-message">
            <h1></h1>
        </div>
    </div>
</div>

{% include header.html %}

{{ content }}

{% include footer.html %}
{% include modals.html %}
{% include javascript.html %}

</body>
</html>
