@import "bootstrap-custom.less";

@base: #f938ab;
@darkColor: #000000;
@secondPageColor: #d0d0d0;
@lightColor: #ffffff;

@screen-x-lg-min: 1500px;


/*---- WEBFONTS -----*/
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('../fonts/Proxima Nova Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima Nova Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima Nova Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima Nova Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima Nova Light.svg#da6ddaf3cf69afbba47bd74b5010b98d') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/Proxima Nova Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima Nova Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima Nova Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima Nova Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima Nova Regular.svg#2c1459d58560f08b4b0586fbe80aa4cd') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proxima_nova_bold-webfont.eot');
    src: url('../fonts/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_bold-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_bold-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_thextrabold';
    src: url('../fonts/proxima_nova_extrabold-webfont.eot');
    src: url('../fonts/proxima_nova_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_extrabold-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_extrabold-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_extrabold-webfont.svg#proxima_nova_thextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/proxima_nova_semibold-webfont.eot');
    src: url('../fonts/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_semibold-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_semibold-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

#cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #eee;
    z-index: 10000;
}

#cover-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 350px;
}

#cover-message {
    position: relative;
    top: 165px;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #eeeeee;
    font-weight: 300;
    font-size: 1em;
}

h1, h2, h3 {
  font-family: @headings-font-family;
  font-weight: normal;
  font-weight: normal;
  letter-spacing: -0.02em;
}
h4, h5 {
  font-family: @subheadings-font-family;
  text-transform: uppercase;
}
.subhead {
  .subhead();
}

p {
  font-family: @headings-font-family;
  font-size: 12px;
  line-height: 1.4em;
}

.white {
    background-color: @lightColor;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
    width: 100%;
    z-index: 1;
    color: black;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
header {
	margin-top: 20px;

	#main-logo {
		margin-left: 15px;
		width: 113px;
		height: 30px;
	}
}

.big-image {
	height: 100%;
	left: -100%;
	min-width: 100%;
    min-height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    z-index: -1;
    float: left;
}

//#playBtn {
//	cursor: pointer;
//	height: 50px;
//	width: 50px;
//	display: block;
//	background: url(../images/play-icon.png);
//	background-size: 100% 200%;
//	position: absolute;
//	left: 50%;
//	top: 50%;
//	margin: -25px 0 0 -25px;
//}

.main-nav {
	text-align: right;
	padding: 4px 24px 0 0;
    .subhead ();

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin-left: 10px;

            a {
                color: @lightColor;
                font-size: 0.7em;

                &:hover {
                    color: @lightColor;
                    text-decoration: none;
                }
            }
        }
    }
}

#page1 {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
  background: url('../images/Amelia_Cinemagraph.gif') no-repeat;
  .background-cover();
}
#page2 {
    background-size: auto 72%;
}

#page3 {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
    width: 100%;
    z-index: 1;
    background: @darkColor top center no-repeat;
    #background1-parallax {
        position:absolute;
        z-index: -2;
        width:100%;
        height:100%;
        background: url('../images/backgrounds/kitchen-demo.jpg');
        opacity: .7;
        .background-cover();

        &:after {
            position:absolute;
            z-index: 2;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color: #000000;
        }
    }
    .floating-text {
        font-size: 2em;
        position: absolute;
    }
}

#page4 {
    background-image: url('../images/slideGraphic-report-tickets.png');
    .background-cover();
    background-position: 0px -50px;
    svg {
        fill: @lightColor;
    }
    #description-paragraph {
        top: 90px;
        color: @darkColor;
        position: absolute;
        padding: 0 8% 0 8%;
        width: 100%;
        text-align: justify;
        line-height: 1.8em;
        font-size: 0.8em;
    }
}

#page5 {
    background: @darkColor top center no-repeat;
    #background2-parallax {
        position:absolute;
        z-index: -2;
        width:100%;
        height:100%;
        opacity: .7;
        background: url('../images/backgrounds/girl-guitar.jpg');
        background-size: 100% auto;
    }
}

#page6 {
  background-image: url('../images/slideGraphic-report-revenue.png');
  .background-cover();
  background-position: -60% 0%;
}

#page7 {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
    width: 100%;
    z-index: 1;
    background: @darkColor top center no-repeat;

    #background3-parallax {
        position:absolute;
        z-index: -2;
        width:100%;
        height:100%;
        opacity: .7;
        background: url('../images/backgrounds/artist-success.jpg');
        background-size: 100% auto;
    }
}

#page8 {
    #artists-paragraph {
        color: @darkColor;
        width: 90%;
        text-align: center;
        line-height: 1.8em;
        font-size: 0.8em;
    }

    ul#clients-logos {
        list-style: none;
        zoom: 0.7;
        width: 85%;

        li {
            display: block;
            float: left;
            height: 65px;
            cursor: pointer;
            background: url('../images/mgmt_companies.png');
            background-size: 617px 130px;
            font-size: 0;
        }

        #vector {
            width: 122px;
            background-position: 0px 65px;
        }

        #vector:hover {
            background-position: 0 0;
        }

        #redlight {
            width: 133px;
            background-position: -122px 65px;
        }

        #redlight:hover {
            background-position: -122px 0;
        }

        #collective {
            width: 88px;
            background-position: -255px 65px;
        }

        #collective:hover {
            background-position: -255px 0;
        }

        #spalding {
            width: 86px;
            background-position: -343px 65px;
        }

        #spalding:hover {
            background-position: -343px 0;
        }

        #bmi {
            width: 98px;
            background-position: -429px 65px;
        }

        #bmi:hover {
            background-position: -429px 0;
        }

        #iamother {
            width: 92px;
            background-position: -527px 65px;
        }

        #iamother:hover {
            background-position: -527px 0;
        }
    }

    .our-artists {
        margin: 230px auto 0 auto;

        .artist-photo {
            width: 80px;
            height: 80px;
            float: left;
            display: block;
            overflow: hidden;

            h1 {
                display: none;
                color: @lightColor;

                font-size: 18px;
                text-transform: uppercase;
            }

            img.rollzoom {
                width: 100%;
                height: 100%;
                -webkit-transition: all 0.2s ease;
                  -moz-transition: all 0.2s ease;
                  -o-transition: all 0.2s ease;
                  -ms-transition: all 0.2s ease;
                  transition: all 0.2s ease;

                 &:hover {
                    cursor: pointer;
                    height: 80px;
                    width: 80px;
                    transform: scale(1.2);
                    -ms-transform: scale(1.2); /* IE 9 */
                    -moz-transform: scale(1.2); /* Firefox */
                    -webkit-transform: scale(1.2); /* Safari and Chrome */
                    -o-transform: scale(1.2); /* Opera */
                }
            }
        }

        .gigante {
            width: 160px;
            height: 160px;
            background: @darkColor;

            img {
                opacity: 0.3;
                height: 160px;
                width: 160px;
            }

            h1 {
                display: inline;
                opacity: 1;
                top: 50%;
                margin-top: -13px;
                position: absolute;
            }
        }
    }
}

#page9 {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
    width: 100%;
    z-index: 1;
    background: @darkColor top center no-repeat;
    #background4-parallax {
        position:absolute;
        z-index: -2;
        width:100%;
        height:100%;
        opacity: .7;
        background: url('../images/backgrounds/los-colognes.jpg');
        background-size: 100% auto;
    }
    h1 {
        position: absolute;
        top: 20px;
        left: 5%;
        right: 5%;
        width: 90%;
    }
    p {
        color: @lightColor;
        font-size: 0.6em;
        line-height: 1.8em;
        padding: 0 10% 0 10%;
        top: 115px;
        left: 1%;
        right: 1%;
        width: 98%;
        position: absolute;
    }

}

#page10 {
    
}



/* FOOTER */
footer {
	background: @darkColor;
    position: relative;
	height: 300px;
	width: 100%;
	z-index: 8;
	font-size: 12px;
	letter-spacing: 0.7em;
	font-weight: normal;
	color: #4a4a4a;
	padding: 30px 0 0 30px;
	.companyname {
		text-transform: uppercase;
		
		font-size: 2em;
	}
	.address {
		color: @lightColor;
		letter-spacing: 1em;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		line-height: 20px;
		margin-bottom: 20px;
	}
	.social {
		color: @lightColor;
		ul {
			padding: 0;
			list-style-type: none;

			li {
				float: left;
				font-size: 3em;
				margin-right: 10px;

				a {
					color: @lightColor;

					&:hover {
						text-decoration: none;
						color: darken(@lightColor, 20%);
					}
				}
			}
		}
	}
	.copyright {
		text-align: left;
		width: auto;
		position: absolute;
		bottom: 20px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	header {
		margin-top: 40px;

		#main-logo {
			margin-top: -8px;
			width: 169px;
			height: 45px;
		}
	}
	.big-image {
		height: 100%;
	    left: 0;
	}
	.main-nav ul li a {
		font-size: 1em;
	}

	#page2 {
	}

	#page3 {

		p {
			font-size: 1em;
			line-height: 2em;
			top: 100px;
			left: 5%;
			right: 5%;
			width: 90%;
		}

		.circle {
			top: 12%;
		}

		#data-description {
			font-size: 1em;
		}

		#graph-column-bar {
			#column-description {
				font-size: 1em;
				width: 100%;
			}
		}
	}

	#page4 {

		#description-paragraph {
			font-size: 1em;
			text-align: center;
			line-height: 32px;
		}

		#iphone-screen {
			left: 30%;

			img {
				max-width: initial;
				height: auto;
			}
		}

		#macbook-screen {
			left: 33%;
			top: 250px;
			width: initial;
			margin: 0 0 0 0;

			img {
				max-width: initial;
				height: auto;
			}
		}

		#graph {
			top: 64%;
			left: 5%;
			width: initial;

			img {
				max-width: initial;
			}
		}

		#graph-description {
			top: 64%;
			position: absolute;
			left: 64%;
			z-index: 0;
			color: @darkColor;
			width: 240px;
			text-align: left;
			line-height: 32px;
			font-size: 1em;
			padding: 0 0 0 0;
		}
	}

    #page8 {
        #artists-paragraph {
            font-size: 1em;
            line-height: 32px;
        }

        ul#clients-logos {
            margin-left: -309px;
            top: 180px;
            zoom: 1;
            width: initial;
        }

        .our-artists {
            margin: 270px auto 0 auto;

            .artist-photo {
                width: 216px;
                height: 216px;

                h1 {
                    font-size: 26px;
                }

                img.rollzoom:hover {
                    height: 216px;
                    width: 216px;
                }
            }

            .gigante {
                width: 432px;
                height: 432px;

                img {
                    height: auto;
                    width: auto;
                }
            }
        }
    }

	#page10 {

		#pricing {
			left: 50%;
			margin-left: -320px;
			top: 35%;
		}

		#main-image {
			img {
				width: 100%;
				margin-left: 0px;
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	header {
		margin-top: 40px;

		#main-logo {
			width: 225px;
			height: 60px;
		}
	}

	.big-image {
		height: auto;
	    left: 0;
	}

	.content-text {
		font-size: 4em;
		margin: -250px 60px 0 0;
		width: 970px;
	}

	#playBtn {
		height: 130px;
		width: 130px;
		margin: -65px 0 0 -65px;
	}


	#page3 {

		h1 {
			top: 50px;
		}

		p {
			top: 150px;
		}

		.circle {
			padding: 29px;
			width: 130px;
			height: 130px;
			font-size: 55px;
			margin: 0;
			left: 10%;
			top: 320px;
		}

		#data-description {
			width: 320px;
			left: 110%;
			line-height: 32px;
			padding: 0;
			text-align: left;
			top: 270px;
			font-size: 1em;
			line-height: 32px;
		}

		#graph-sphere {
			top: 270px;
			left: 110%;
			text-align: left;
		}

		#graph-column-bar {
			width: 647px;
			top: 0;
			height: 100%;

			#column-description {
				margin-left: 200px;
				top: 20%;
				padding: 0 0 0 0;
				font-size: 1em;
				line-height: 2em;
				text-align: left;
				right: 50px;
			}
		}

		.cube-container {
			margin-right: 0px;
			right: 50px;
		}
	}

	#page4 {

		#macbook-screen {
			left: 57%;
		}

		h1 {
			left: 10%;
			top: 250px;
			width: auto;
			text-align: left;
		}

		#description-paragraph {
			left: 10%;
			padding: 0 0 0 0;
			top: 330px;
			width: 400px;
			line-height: 32px;
			text-align: left;
		}

		#graph {
			left: 150%;
		}

		#graph-description {
			top: 565px;
			left: 150%;
			width: 420px;
		}
	}

	#page5 {

	}

	#page6 {

		#main-image {
			img {
				width: 100%;
				margin-left: 0px;
			}
		}

		#pricing {
			top: 51%;
		}

		h1 {
			top: 5%;
		}
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	.main-nav {
		padding: 16px 0 0 0;
	}

	.main-nav ul li {
		margin-left: 20px;
	}
	#page3 {
		h1 {

		}

		#knob {
			width: 675px;
			height: 675px;
			margin-left: -337px;
		}

		#graph-column-bar {
			#column-description {
				right: 0px;
				width: 440px;
			}
		}
	}
}

@media (min-width: @screen-x-lg-min) {
	#page3 {
		#graph-sphere {
			width: 300px;
			height: 300px;

			img {
				min-width: 100%;
				height: auto;
			}
		}
	}
}

.header-container {
	height: 100%;
}

.overflow-container {
	overflow: hidden;
	width: 100%;
	min-height: 100%;
	position: relative;
}

.wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
    &:after {
        padding-top: 56.25%; /*16:9 ratio*/
        display: block;
        content: '.';
    }
}
.short-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
    &:after {
        padding-top: 43%;
        display: block;
        content: '.';
    }
}

#page1 {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
    z-index: 0;
    overflow: hidden;
    &:after {
        background: rgba(0,0,0,0.19);
        position: absolute;
        top:0;
        z-index: -99;
        height: 100%;
        width: 100%;
        content: '';
    }

    #bgvid {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        width: auto; 
        height: auto; 
        z-index: -100;
        background: url('../images/loscolognes-bv-screengrab.jpg') no-repeat;
        background-size: cover;

    }

}

.video-title {
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: 0.5;
    margin: 40px 0 0 0;
    padding: 0;
    line-height: 0.65;
    font-size: 4em;
    text-transform: uppercase;
}

#closeBtn {
	font-size: 4em;
	width: 45px;
	height: 45px;
	margin: 10px 0 0 0;
	float: right;
	line-height: 32px;
	cursor: pointer;
	display: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}


.linepointer {
	position: absolute;
	z-index: 0;
	left: 0;
}

#big-video-wrap{
	position: absolute !important;
}

#big-video-control-container{
	position: absolute !important;
	bottom: 9% !important;

	width: 80% !important;
	margin: 0 10% 0 10% !important;
}
