//
// Custom Mixins
// --------------------------------------------------


// Fonts

.subhead(@subhead-size) {
  font-family: @subheadings-font-family;
  text-transform: uppercase;
  font-size: @subhead-size;
  font-weight: normal;
  letter-spacing: 0.1em;
  line-height: 1.4em;
}

.background-cover(){
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-inverse(){
  color: @btn-primary-inverse-color;
  background: @btn-primary-inverse-bg;
  font-family: @subheadings-font-family;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 10px;
}



