---
---
{% include header.html title="Artist Growth Create. Manage. Live." %}


<!-- Intro Slide:  Cinemagraph of Musician -->
<div class="wrapper">
    <section id="page1" class="slide image-slide">
        <!--<video autoplay loop poster="images/loscolognes-bv-screengrab.jpg" id="bgvid">-->
        <!--&lt;!&ndash; <source src="polina.webm" type="video/webm"> &ndash;&gt;-->
        <!--<source src="http://player.vimeo.com/external/98324019.sd.mp4?s=7e8b6858534151449148b329f2473f5f" type="video/mp4"></source>-->
        <!--</video>-->
        <!-- data-video="http://player.vimeo.com/external/98324019.sd.mp4?s=7e8b6858534151449148b329f2473f5f"
        data-video-no-audio="http://player.vimeo.com/external/95467484.hd.mp4?s=9be9a5267835af977360c94f415999c7"
        data-video-mobile-streaming="http://player.vimeo.com/external/95467484.m3u8?p=high,standard,mobile&s=95bbb4b217ebeb8b1db34d83be26d6bb" -->
        <div class="container">
            <div class="row">
                <div class="slide-content">
                    <h1>We help artists<br/>make their art their career</h1>
                    <button class="btn btn-primary btn-inverse"><i class="icon-glyphicons facetime_video"></i> Take A
                        Tour
                    </button>
                </div>
                <div id="closeBtn">+</div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#page1 -->
</div>
<!-- /.wrapper -->


<!-- White Slide:  Infographic -->
<div class="short-wrapper">
    <section id="page2" class="slide white-slide">
        <div class="container">
            <div class="row">
                <div class="slide-content">
                    <h1>Organizing a business is hard.</h1>
                    <h5 class="subhead">Artist Growth streamlines the work</h5>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#page2 -->
</div>
<!-- /.wrapper -->


<!-- Image Slide:  Unorganized Musician -->
<div class="short-wrapper">
    <section id="page3" class="slide image-slide">
        <div id="background1-parallax" class="parallax">
            <div class="overlay"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="slide-content text-right">
                    <h5 class="subhead">See how Artist Growth keeps you organized.</h5>
                    <button class="btn btn-primary btn-inverse"><i class="icon-glyphicons show_thumbnails"></i> View
                        Gallery
                    </button>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#page3 -->
</div>
<!-- /.wrapper -->


<!-- White Slide:  Reports - Tickets Graph -->
<div class="short-wrapper">
    <section id="page4" class="slide white-slide">
        <div class="container">
            <div class="row">
                <div class="slide-content">
                    <h1>Every business needs investment.</h1>
                    <h5 class="subhead">Our tools help market you to potential investors</h5>

                    <p>Our tools help market you to potential investors. Our tools help market you to potential
                        investors. Our tools help market you to potential investors.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#page4 -->
</div>
<!-- /.wrapper -->


<!-- Image Slide:  Girl Guitar -->
<div class="short-wrapper">
    <section id="page5" class="slide image-slide">
        <div id="background2-parallax" class="parallax">
            <div class="overlay"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="slide-content">
                    <h5 class="subhead">Dummy title for slide</h5>
                    <button class="btn btn-primary btn-inverse">Action here.</button>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#page5 -->
</div>
<!-- /.wrapper -->


<!-- White Slide:  Reports - Contract Rev -->
<div class="short-wrapper">
    <section id="page6" class="slide white-slide">
        <div class="container">
            <div class="row">
                <div class="slide-content">
                    <h1>Finding investors means knowing the numbers</h1>
                    <h5 class="subhead">Our report center knows those.</h5>

                    <p>Aliquam ullamcorper sodales imperdiet. Sed bibendum, mauris sit amet rhoncus mattis, est tellus
                        iaculis dui,
                        id pharetra leo velit a ante. Aenean bibendum ante egestas turpis dignissim, non mollis velit
                        pretium.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#page6 -->
</div>
<!-- /.wrapper -->


<!-- Image Slide:  Plane -->
<div class="short-wrapper">
    <section id="page7" class="slide image-slide">
        <div id="background3-parallax" class="parallax">
            <div class="overlay"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="slide-content">
                    <h5 class="subhead">A dummy title for this slide here</h5>
                    <button class="btn btn-primary btn-inverse"><i class="icon-glyphicons circle_ok"></i> Action here
                    </button>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#page7 -->
</div>
<!-- /.wrapper -->


<!-- White Slide:  Artists -->
<section id="page8" class="slide">
    <div class="text-center">
        <h1>Then start dreaming big</h1>
        <h5 class="subhead">Here are a few of the artists whose teams use Artist Growth.</h5>
    </div>

    <ul id="clients-logos" class="hidden-xs hidden-sm">
        <li id="vector">Vector Management</li>
        <li id="redlight">Redlight Management</li>
        <li id="collective">The Collective</li>
        <li id="spalding">Spalding Entertainment Group</li>
        <li id="bmi">BMI</li>
        <li id="iamother">i am OTHER</li>
    </ul>
    <div class="our-artists">
        <div class="artist-photo other text-center"><h1>Pharell</h1><img src="images/artists/pharell.jpg"
                                                                         class="rollzoom"/></div>
        <div class="artist-photo text-center"><h1>Amos Lee</h1><img src="images/artists/Amos_Lee.jpg" class="rollzoom"/>
        </div>
        <div class="artist-photo sort text-center" data-category="sort"><h1>The Fray</h1><img
                src="images/artists/The_Fray.jpg" class="rollzoom"/></div>
        <div class="artist-photo text-center"><h1>Kings of Leon</h1><img src="images/artists/kings_of_leon.jpg"
                                                                         class="rollzoom"/></div>
        <div class="artist-photo sort text-center" data-category="sort"><h1>Gavin Degraw</h1><img
                src="images/artists/Gavin_Degraw.jpg" class="rollzoom"/></div>
        <div class="artist-photo sort text-center" data-category="sort"><h1>One Republic</h1><img
                src="images/artists/one_republic.jpg" class="rollzoom"/></div>
        <div class="artist-photo text-center"><h1>Ke$ha</h1><img src="images/artists/Kesha.jpg" class="rollzoom"/></div>
        <div class="artist-photo text-center"><h1>Kristin Chenoweth</h1><img src="images/artists/Kristin_Chenowenth.jpg"
                                                                             class="rollzoom"/></div>
        <div class="artist-photo sort text-center" data-category="sort"><h1>Rascal Flatts</h1><img
                src="images/artists/rascal_flats.jpg" class="rollzoom"/></div>
        <div class="artist-photo text-center"><h1>Ryan Tedder</h1><img src="images/artists/Ryan_Tedder.jpg"
                                                                       class="rollzoom"/></div>
        <div class="artist-photo sort text-center" data-category="sort"><h1>Emmylou Harris</h1><img
                src="images/artists/Emmylou_Harris.jpg" class="rollzoom"/></div>
        <div class="artist-photo text-center"><h1>ZZ Ward</h1><img src="images/artists/ZZ_Ward.jpg" class="rollzoom"/>
        </div>
        <div class="artist-photo sort text-center" data-category="sort"><h1>Trisha Yearwood</h1><img
                src="images/artists/Trisha_Yearwood.jpg" class="rollzoom"/></div>
        <div class="artist-photo text-center"><h1>The Wallflowers</h1><img src="images/artists/The_Wallflowers.jpg"
                                                                           class="rollzoom"/></div>
        <div class="artist-photo text-center"><h1>Randy Travis</h1><img src="images/artists/Randy_Travis.jpg"
                                                                        class="rollzoom"/></div>
        <div class="artist-photo sort text-center" data-category="sort"><h1>Jake owen</h1><img
                src="images/artists/Jake_owen.jpg" class="rollzoom"/></div>
        <div class="artist-photo sort text-center" data-category="sort"><h1>Hank Williams Jr</h1><img
                src="images/artists/Hank_Williams_Jr.jpg" class="rollzoom"/></div>
        <div class="artist-photo text-center"><h1>Lynyrd Skynyrd</h1><img src="images/artists/Lynyrd_Skynyrd.jpg"
                                                                          class="rollzoom"/></div>
        <div class="artist-photo text-center"><h1>Joan Osborne</h1><img src="images/artists/Joan_Osborne.jpg"
                                                                        class="rollzoom"/></div>
    </div>
    <!-- /.our-artists -->
</section>
<!-- /#page8 -->


<!-- Image Slide: Los Colognes -->
<div class="short-wrapper">
    <section id="page9" class="slide image-slide">
        <div id="background4-parallax" class="parallax">
            <div class="overlay"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="slide-content">
                    <h5 class="subhead">Artist Profile: Los Colognes</h5>
                    <button class="btn btn-primary btn-inverse"><i class="icon-glyphicons facetime_video"></i> Watch
                        Video
                    </button>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#page9 -->
</div>
<!-- /.wrapper -->

<!-- White Slide:  Pricing -->
<div class="short-wrapper">
    <section id="page10" class="slide white-slide">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <h1>Pricing and Plans</h1>
                        <h5 class="subhead">The first investor in your business should be you.</h5>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="pricing-header">
                        <span class="subhead">Just Playing Around?</span>

                        <h3>Starter "EP"</h3>

                        <div class="price">
                            <span class="value"><sup>$</sup>0</span><span class="subhead">/mo</span>

                            <p>Free for all</p>
                        </div>
                    </div>
                    <ul class="list-lined">
                        <li class="list-lined-item">a;sldkf</li>
                        <li class="list-lined-item">a;sldkf</li>
                        <li class="list-lined-item">a;sldkf</li>
                        <li class="list-lined-item">a;sldkf</li>
                        <li class="list-lined-item">a;sldkf</li>
                        <li class="list-lined-item">a;sldkf</li>
                        <li class="list-lined-item">a;sldkf</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="pricing-header">
                        <span class="subhead">Want to quit your day job?</span>

                        <h3>Full "LP"</h3>

                        <div class="price">
                            <span class="value"><sup>$</sup>10</span><span class="subhead">/mo</span>

                            <p>Per Artist</p>
                        </div>
                    </div>
                    <ul class="list-lined">
                        <li class="list-lined-item">a;sldkf</li>
                        <li class="list-lined-item">a;sldkf</li>
                        <li class="list-lined-item">a;sldkf</li>
                        <li class="list-lined-item">a;sldkf</li>
                        <li class="list-lined-item">a;sldkf</li>
                        <li class="list-lined-item">a;sldkf</li>
                        <li class="list-lined-item">a;sldkf</li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#page10 -->
</div>

{% include footer.html %}
{% include modals.html %}
{% include javascript.html %}
